<!DOCTYPE html>
<html>
<head>
    <title>Moma</title>
    <%= csrf_meta_tags %>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />

    <!-- Compressed JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
    <nav>
        <%= link_to 'All Artists', artists_path %>
        <%= link_to 'New Artist', new_artist_path %>
        |
        <%= link_to 'All Works', works_path %>
        <%= link_to 'New Work', new_work_path %>
    </nav>
    <%= yield %>
</div>
</body>
</html>