<!DOCTYPE html>
<html>
<head>
    <title>Tunr</title>

    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <ul class="navbar-nav mr-auto">
        <%= link_to 'Home', root_path, class: 'nav-item active nav-link' %>

        <% if @current_user.present? %>
            <%= link_to "Sign Out (#{@current_user.email})", login_path, method: 'delete',class: 'nav-item nav-link' %>

        <% else %>

            <%= link_to 'New User', new_user_path,class: 'nav-item nav-link' %>
            <%= link_to 'Sign In', login_path,class: 'nav-item nav-link' %>

        <% end %>
    </ul>

</nav>
<%= yield %>

</body>
</html>
